$color-white:#fff;
$color-blue:rgb(56, 109, 255);
$color-grey:#333;
$color-grey-dark:#555;
$color-grey-light:#ccc;
$color-black-opacity3:rgba(0,0,0,0.3);
$color-black-opacity5:rgba(0,0,0,0.5);
$color-black-opacity8:rgba(0,0,0,0.8);